@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: poppins;
}

body{
    background-color: #333;
    cursor: crosshair;
}

.first-body a{
    color: red;
}

.first-body{
    text-align: center;
}

.first-body h1{
    color: white;
    margin-top: 2%;
}

.points{
    text-align: center;
    margin-top: 2%;
}

.points span{
    color: red;
}

.second-body{
    text-align: center;
    margin-top: 10%;
}

.second-body a{
    color: red;
    text-decoration: none;
    margin-top: 10%;
}

.congrats{
    background-color: black;
    width: 50%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7%;
    text-align: center;
}

.congrats h1{
    color: red;
}

.congrats button{
    color: red;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border: none;
}